<div class="center">
    <div class="content" style="width: 18rem;">
        <img
          src="https://www.tensorflow.org/images/surf.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1 class="card-title">&nbsp;&nbsp;Captions</h1>
          
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Living my best surf life.</li>
            <li class="list-group-item">Surfing isn’t an act, but a habit.</li>
            <li class="list-group-item">Surf’s up!</li>
            
          </ul>
       
      </div>
    </div>
    
