<div class="center">
<div class="content" style="width: 18rem;">
    <img
      src="https://www.tensorflow.org/images/surf.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h1 class="card-title">Tags</h1>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">#Ocean</li>
      <li class="list-group-item">#Ocean-surfing</li>
      <li class="list-group-item">#surf-boarding</li>
      <li class="list-group-item">#exciting</li>
      <li class="list-group-item">#adventure</li>
      <li class="list-group-item">#thrilling-sport</li>
    </ul>
   
  </div>
</div>
