<style>
  .img-container {
    position: relative;
    box-shadow: 0 0 8px 8px white inset;
    padding: 12px;
  }

  img {
    width: 300px;
    border-radius: 9%;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  }

  .overlay {
    display: inline-block;
    color: #ffff;
    /* background-color: rgba(0,0,0,0.8);*/
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: x-large;
    font-family: cursive;
    font-style: italic;
  
  }
</style>

<!-- Grid start -->
<mat-grid-list cols="4">
  <!--Row 1 Tile 1 -->
  <mat-grid-tile>
    <div class="img-container">
      <a routerLink="/app-friends-list"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#travel</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 2 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#party</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 3 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#selfie</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 4 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#dogs</div>
    </div>
  </mat-grid-tile>
  <!-- Second Row -->

  <!--Row 1 Tile 1 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#friends</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 2 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"><img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#wedding</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 3 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"><img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#architecture</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 4 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#fashion</div>
    </div>
  </mat-grid-tile>

  <!-- Third Row -->

  <!--Row 1 Tile 1 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#nature</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 2 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"><img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#historic</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 3 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"><img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#forest</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 4 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#earth</div>
    </div>
  </mat-grid-tile>
  <!-- Forth row -->

  <!--Row 1 Tile 1 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"> <img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#sky</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 2 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"><img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#money</div>
    </div>
  </mat-grid-tile>
  <!--Row 1 Tile 3 -->
  <mat-grid-tile>
    <div class="img-container">
      <a href="#"><img src="./../../assets/pink.jpeg" /></a>

      <div class="overlay">#fire</div>
    </div>
  </mat-grid-tile>
 
</mat-grid-list>
